body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    /* margin: 200px; */
}

/* set each box to take up 6.25% (100/16) of the space of the cotainer they are in */
.box {
    width: 6.25%;
    height: 6.25%;
}