body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    /* background-color: brown; */
    /* margin: 200px; */
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    /* allows this container to grow to fill up the rest of its space within the main container */
    flex: 1 0 auto;
    /* background-color: chartreuse; */
}

/* adding some padding to the button and its container */
.btn,.btnBox {
    padding: 10px;
    align-self: center;
}