body {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    height: 100vh;
    align-items: center;
}

#board {
    display: grid;
    justify-self: center;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: solid 1px #000000;
}

#board div {
    display: flex;
    border: solid 1px #000000;
    font-size: 5rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

#turn {
    font-size: 3rem;
    font-weight: bold;
}